body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index:-1;
  content: url(./assets/info_background.png) url(./assets/ui_btn_reset_default.png) url(./assets/ui_btn_reset_pressed.png) url(./assets/finish_ordering_btn.png) url(./assets/send_order_btn.png);
}

.overlay {
  /* To create the overlay   */
  position: absolute;
  z-index: 10;
  /* To center all elements inside the overlay  */
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-image: url(./assets/info_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 10px 50px 10px;
  /* Change to bottom */
  bottom: 0;
}
/* iPad 1, 2, Mini and Air */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  .overlay {
    padding: 85px 16px 50px 10px;
  }
}

/* iPad 3, 4 and Pro 9.7" */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
  .overlay {
    padding: 85px 16px 50px 10px;
  }
}
.instructions {
  color: black;
  padding-top: 45px;
  padding-left: 25px;
  padding-right: 25px;
  display: none;
}
.my-float {
  margin-top: 22px;
}
#reset-btn {
 position: fixed;
 z-index: 15;
 width: 60px;
 height: 60px;
 bottom: 40px;
 left: 48px;
 background-color: #000000A6;
 color: #ffffff;
 border-radius: 50px;
 text-align: center;
}
#reset-text {
 font-size: small;
 position: fixed;
 width: 120px;
 z-index: 15;
 bottom: 10px;
 left: 18px;
 color: #ffffff;
 text-align: center;
}
#finish-btn {
 position: fixed;
 z-index: 15;
 width: 225px;
 height: 120px;
 bottom: 20px;
 right: 24px;
 color: #ffffff;
 text-align: center;
 background-image: url(./assets/finish_ordering_btn.png);
 background-repeat: no-repeat;
 background-size: 100%;
}
#send-order-btn {
 position: fixed;
 z-index: 15;
 width: 225px;
 height: 120px;
 bottom: 20px;
 right: 24px;
 color: #ffffff;
 text-align: center;
 background-image: url(./assets/send_order_btn.png);
 background-repeat: no-repeat;
 background-size: 100%;
}
.float-top {
  top: 40px;
  bottom: inherit;
}
.float-text-top {
  top: 10px;
  bottom: inherit;
}
h1 {
  font-size: 20px;
  margin-bottom: 20px;
}
p {
  font-size: 13px;
  padding-left: 2px;
  padding-right: 2px;
}

.custom-refresh {
  background-image: url(./assets/ui_btn_reset_default.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.custom-refresh:focus {
  background-image: url(./assets/ui_btn_reset_pressed.png);
}

.hidden {
  display: none !important;
}

#splashimage {
  z-index: 998;
  height: 100%;
  background-image: url('./assets/splash-image.png');
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#start {
  /*z-index: 999;*/
  width: 50vw;
  height: auto;
  position: absolute;
  bottom: 5vh;
  left: 25vw;
  background-color: #FFE599;
  border: 0.2em solid black;
  text-align: center;
  color: black;
  border-radius: 100px;
}
h2 {
  font-size: 1.3em;
  text-align: center;
  font-family: monospace;
}
